##  CURSO DS ao DEV

 ### Novas perguntas do CEO
    
    1.Quantas casas estão disponíveis para compra?
    2. Quantos atributos as casas possuem?
    3. Quais são os atributos das casas?
    4. Qual a casa mais cara ( casa com o maior valor de venda )?
    5. Qual a casa com o maior número de quartos?
    6. Qual a soma total de quartos do conjunto de dados?
    7. Quantas casas possuem 2 banheiros?
    8. Qual o preço médio de todas as casas no conjunto de dados?
    9. Qual o preço médio de casas com 2 banheiros?
    10. Qual o preço mínimo entre as casas com 3 quartos?
    11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
    12. Quantas casas tem mais de 2 andares?
    13. Quantas casas tem vista para o mar?
    14. Das casas com vista para o mar, quantas tem 3 quartos?
    15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

### Imports

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Datasets/kc_house_data.csv')

### Quantas casas estão disponíveis para compra?

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
# estrategia - Selecionar a coluna ID e contar o numero de valoares unicos
houses=len(df['id'].unique())
print('O numero de casas disponiveis pra venda è {}'.format(houses))

O numero de casas disponiveis pra venda è 21436

In [6]:
houses=len(df['id'].drop_duplicates())
print('O numero de casas disponiveis pra venda è {}'.format(houses))

O numero de casas disponiveis pra venda è 21436

### Quantos atributos as casas possuem?

In [7]:
# Assumptions
# As colunas id e date nao sao atributos
n_atributes=len(df.drop(['id','date'], axis=1).columns)
print('O numero de atributos è {}'.format(n_atributes))

O numero de atributos è 19

### Quais são os atributos das casas?

In [8]:
# Assumptions
# As colunas id e date nao sao atribu
df.drop(['id','date'], axis=1).columns.tolist()
#print('O numero de atributos è {}'.format(atributes))

['price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

### Qual a casa mais cara ( casa com o maior valor de venda )?

In [9]:
mais_cara= df['price'].max()
print('A casa mais cara custa {}'.format(mais_cara))

A casa mais cara custa 7700000.0

In [10]:
df[['id','price']].sort_values('price',ascending=False).head()

              id      price
7252  6762700020  7700000.0
3914  9808700762  7062500.0
9254  9208900037  6885000.0
4411  2470100110  5570000.0
1448  8907500070  5350000.0

In [14]:
#se eun nao  faço o reset index com o drop ele usa o undex antigo como coluna

df[['id','price']].sort_values('price',ascending=False).reset_index(drop=True)['id'][0]

6762700020

###  Qual a casa com o maior número de quartos?

In [20]:
#se eun nao  faço o reset index com o drop ele usa o undex antigo como coluna

df[['id','bedrooms']].sort_values('bedrooms',ascending=False).reset_index(drop=True).loc[0,'id']

2402100895

In [17]:
#se eun nao  faço o reset index com o drop ele usa o index antigo como coluna

df[['id','bedrooms']].sort_values('bedrooms',ascending=False).reset_index(drop=True).head()

           id  bedrooms
0  2402100895        33
1  1773100755        11
2  5566100170        10
3   627300145        10
4  8812401450        10

### Qual a soma total de quartos do conjunto de dados?

In [68]:
df['bedrooms'].sum()

72854

### Quantas casas possuem 2 banheiros?

In [78]:
a=len(df.loc[df['bathrooms']==2,['id','bathrooms']])
print('Sao  {} casas com 2 banheiros'.format(a))

Sao  1930 casas com 2 banheiros

### Qual o preço médio de todas as casas no conjunto de dados?

In [82]:
np.round(df['price'].mean(),2)

540088.14

### Qual o preço médio de casas com 2 banheiros?

In [84]:
np.around(df.loc[df['bathrooms']==2,'price'].mean(),2)

457889.72

### Qual o preço mínimo entre as casas com 3 quartos?

In [85]:
df.loc[df['bedrooms']==3,'price'].min()

82000.0

In [94]:
df.loc[df['bedrooms']==3,['id','price']].sort_values('price',ascending=True).head()

               id    price
8274   3883800011  82000.0
13756  1788900230  86500.0
5866   9320900420  89000.0
18939  4239400300  90000.0
5723   1788800630  96500.0

###   Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [117]:
df['m2']=df['sqft_living']*0.093

len(df.loc[df['m2']>300, 'id'])

2258

###    Quantas casas tem mais de 2 andares?

In [103]:
df.loc[df['floors']>2, 'id'].size

782

###  Quantas casas tem vista para o mar?

In [107]:
len(df.loc[df['waterfront']==1, 'id'])

163

### Das casas com vista para o mar, quantas tem 3 quartos?

In [114]:
len(df.loc[(df['waterfront']==1)&(df['bedrooms']==3),'id'])

64

### Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [116]:
len(df.loc[(df['m2']>300)&(df['bathrooms']>2),'id'])

2201