# Novas perguntas do CEO para vocês

In [278]:
import numpy as np
import pandas as pd

In [306]:
#df=pd.read_csv('Datasets/kc_house_data.csv')
df=pd.read_csv('Datasets/kc_house_data.csv',parse_dates=[1,14,15])

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  datetime64[ns]
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  datetime64[ns]
 15  yr_renovated   21613 non-null  object
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(12), object(1)
memory usage: 3.5+ MB

## Crie uma nova coluna chamada: “house_age”
- Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
- Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [308]:
df['date']=pd.to_datetime(df['date'],format='%Y-%m-%d')

In [309]:
#lambda x: VERDADEIRO condicional(if x else)  FALSO condicional(if x else) FALSO
df['house_age']=df['date'].apply(lambda x:'new_house'if x>pd.to_datetime('2014-01-01',format='%Y-%m-%d') else 'old_house')

In [310]:
df['house_age']=np.where (df['date']>pd.to_datetime('2014-01-01',format='%Y-%m-%d'),'new_house', 'old_house')

## Crie uma nova coluna chamada: “dormitory_type”
- Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
- Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
- Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [311]:
df['dormitory_type']=df['bedrooms'].apply(lambda x:'studio' if x== 1 else 
                                                  'apartament' if x==2 else 
                                                  'house')

## Crie uma nova coluna chamada: “condition_type”
- Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
- Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
- Se o valor da coluna “condition” for igual à 5 => ‘good’

In [312]:
df['condition_type']=df['condition'].apply(lambda x:'bad' if x== 2 else 
                                                  'regular' if (x==3 or x==4) else 
                                                  'good' if x==5 else 
                                                  'NA')


## Modifique o TIPO a Coluna “condition” para STRING

In [313]:
df['condition']=df['condition'].astype(str)

## Delete as colunas: “sqft_living15” e “sqft_lot15”

In [314]:
#df=df.drop(['sqft_living15','sqft_lot15'],axis=1)
df=df.drop(columns=['sqft_living15','sqft_lot15'])

## Modifique o TIPO a Coluna “yr_build” para DATE

In [344]:
df['yr_built']=pd.to_datetime(df['yr_built'],format= '%Y %m %d')
#     #dt define a serie
#     df['yr_built_year']=df['yr_built'].dt.year
#     df['yr_built_month']=df['yr_built'].dt.month

In [392]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,house_age,dormitory_type,condition_type,yr_renovated_year
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955-01-01,1900-01-01,98178,47.5112,-122.257,new_house,house,regular,1900
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951-01-01,1991-01-01,98125,47.7210,-122.319,new_house,house,regular,1991
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933-01-01,1900-01-01,98028,47.7379,-122.233,new_house,apartament,regular,1900
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965-01-01,1900-01-01,98136,47.5208,-122.393,new_house,house,good,1900
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987-01-01,1900-01-01,98074,47.6168,-122.045,new_house,house,regular,1900

In [391]:
df.dtypes

id                            int64
date                 datetime64[ns]
price                       float64
bedrooms                      int64
bathrooms                   float64
sqft_living                   int64
sqft_lot                      int64
floors                      float64
waterfront                    int64
view                          int64
condition                    object
grade                         int64
sqft_above                  float64
sqft_basement                 int64
yr_built             datetime64[ns]
yr_renovated         datetime64[ns]
zipcode                       int64
lat                         float64
long                        float64
house_age                    object
dormitory_type               object
condition_type               object
yr_renovated_year             int64
dtype: object

## Modifique o TIPO a Coluna “yr_renovated” para DATE

In [393]:
#df['yr_renovated']=pd.to_datetime(['yr_renovated'],format='%Y %m %d')

In [394]:
df['yr_renovated']=df['yr_renovated'].apply(lambda x: pd.to_datetime('1900-01-01',format='%Y %m %d') if x=='0' else pd.to_datetime(x,format='%Y %m %d'))

## Qual a data mais antiga de construção de um imóvel?

In [395]:
df['yr_built'].min()

Timestamp('1900-01-01 00:00:00')

## Qual a data mais antiga de renovação de um imóvel?

In [396]:

df['yr_renovated'].max()

Timestamp('2015-01-01 00:00:00')

## Quantos imóveis tem 2 andares?

In [364]:
df.loc[df['floors']==2,'id'].size

8241

## Quantos imóveis estão com a condição igual a “regular” ?

In [365]:
df.loc[df['condition_type']=='regular','id'].size

19710

## Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?

In [366]:
df.loc[(df['condition_type']=='bad')&(df['waterfront']==1),'id'].size

1

## Quantos imóveis estão com a condição igual a “good” e são “new_house”?

In [367]:
df.loc[(df['condition_type']=='good')&(df['house_age']=='new_house'),'id'].size

1701

## Qual o valor do imóvel mais caro do tipo “studio” ?

In [368]:
df.loc[df['dormitory_type']=='studio','price'].max()

1247000.0

## Quantos imóveis do tipo “apartment” foram reformados em 2015 ?

In [400]:
df.loc[(df['dormitory_type']=='apartment')&(df['yr_renovated']==pd.to_datetime('2015 01 01',format='%Y %m %d'))
        ,'id'].size

0

## Qual o maior número de quartos que um imóveis do tipo “house” possui ?

In [373]:
df.loc[df['dormitory_type']=='house','bedrooms'].max()

33

## Quantos imóveis “new_house” foram reformados no ano de 2014?

In [378]:
df.loc[(df['house_age']=='new_house')&(df['yr_renovated']==pd.to_datetime('2014 01 01',format='%Y %m %d')),'id'].size

91

## Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
 • Direto pelo nome das colunas.
 • Pelos Índices.
 • Pelos Índices das linhas e o nome das colunas
 • Índices Booleanos

In [382]:
#df[['id','date','price','floors','zipcode']]
#df.iloc[:,[0,1,2,7,16]]
#df.loc[:,['id','date','price','floors','zipcode']]
i=[True, True,True,False,False,False,False,True,False,False,False,False,
   False,False,False,False,True,False,False,False,True,False,False]
df.iloc[0:10,i]

           id       date      price  floors  zipcode dormitory_type
0  7129300520 2014-10-13   221900.0     1.0    98178          house
1  6414100192 2014-12-09   538000.0     2.0    98125          house
2  5631500400 2015-02-25   180000.0     1.0    98028     apartament
3  2487200875 2014-12-09   604000.0     1.0    98136          house
4  1954400510 2015-02-18   510000.0     1.0    98074          house
5  7237550310 2014-05-12  1225000.0     1.0    98053          house
6  1321400060 2014-06-27   257500.0     2.0    98003          house
7  2008000270 2015-01-15   291850.0     1.0    98198          house
8  2414600126 2015-04-15   229500.0     1.0    98146          house
9  3793500160 2015-03-12   323000.0     2.0    98038          house

## Salve um arquivo .csv com somente as colunas do item 10 ao 17

In [340]:
df[['dormitory_type','condition_type','house_age']].to_csv('exercicio_19.csv')


## Modifique a cor dos pontos no mapa de “pink” para “verde-escuro” -->

In [341]:
ls-l

totale 1616
-rw-rw-r-- 1 alessandra alessandra 126341 ago  3 16:26  aula01_notas_aula.pdf
-rw-rw-r-- 1 alessandra alessandra  49890 ago  3 16:24  aula01_resolucao_exercicio.pdf
-rw-rw-r-- 1 alessandra alessandra  61748 ago  3 18:30  aula02_resolucao_exercicio.pdf
drwxrwxr-x 2 alessandra alessandra   4096 ago 12 18:32  Datasets/
-rw-rw-r-- 1 alessandra alessandra 645379 ago 26 18:46  exercicio_19.csv
-rw-rw-r-- 1 alessandra alessandra   1075 ago  3 16:31  LICENSE
-rw-rw-r-- 1 alessandra alessandra  30344 ago 25 11:07  m01_aula1.ipynb
-rw-rw-r-- 1 alessandra alessandra 585345 ago  4 19:08  m02_Aula2.html
-rw-rw-r-- 1 alessandra alessandra  43138 ago 26 18:45  m02_Aula2.ipynb
-rw-rw-r-- 1 alessandra alessandra  41271 ago 12 23:07  m08_01_insert_data.pdf
-rw-rw-r-- 1 alessandra alessandra  16719 ago 12 23:06  m08_02_SQL_IDE.pdf
-rw-rw-r-- 1 alessandra alessandra  18282 ago 17 15:09 'Modulo 8 - SQL.ipynb'
-rw-rw-r-- 1 alessandra alessandra      8 ago  3 16:31  README.md
-rw-rw-r-- 1 alessandra alessandra      0 ago  3 16:34  requirements.txt