# Novas perguntas do CEO para vocês

In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('Datasets/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              21613 non-null  int64
 1   date            21613 non-null  datetime64[ns]
 2   price           21613 non-null  float64
 3   bedrooms        21613 non-null  int64
 4   bathrooms       21613 non-null  float64
 5   sqft_living     21613 non-null  int64
 6   sqft_lot        21613 non-null  int64
 7   floors          21613 non-null  float64
 8   waterfront      21613 non-null  int64
 9   view            21613 non-null  int64
 10  condition       21613 non-null  int64
 11  grade           21613 non-null  int64
 12  sqft_above      21611 non-null  float64
 13  sqft_basement   21613 non-null  int64
 14  yr_built        21613 non-null  int64
 15  yr_renovated    21613 non-null  int64
 16  zipcode         21613 non-null  int64
 17  lat             21613 non-null  float64
 18  long            21613 non-null  float64
 19  sqft_living15   21613 non-null  int64
 20  sqft_lot15      21613 non-null  int64
 21  house_age       21613 non-null  object
 22  condition_type  21613 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(14), object(2)
memory usage: 3.8+ MB

In [15]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'house_age',
       'condition_type'],
      dtype='object')

## Crie uma nova coluna chamada: “house_age”
- Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
- Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [ ]:
df['date']=pd.to_datetime(df['date'],format='%Y-%m-%d')

In [ ]:
df['house_age']=df['date'].apply(lambda x:'new_house'if x>pd.to_datetime('2014-01-01',format='%Y-%m-%d') else 'old_house')

In [ ]:
df['house_age']=np.where (df['date']>pd.to_datetime('2014-01-01',format='%Y-%m-%d'),'new_house', 'old_house')

## Crie uma nova coluna chamada: “dormitory_type”
- Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
- Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
- Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [35]:
df['dormitory_type']=df['bedrooms'].apply(lambda x:'studio' if x== 1 else 
                                                  'apartament' if x==2 else 
                                                  'house')

## Crie uma nova coluna chamada: “condition_type”
- Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
- Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
- Se o valor da coluna “condition” for igual à 5 => ‘good’

In [13]:
df['condition_type']=df['condition'].apply(lambda x:'bad' if x== 2 else 
                                                  'regular' if (x==3 or x==4) else 
                                                  'good' if x==5 else 
                                          'NA')


## Modifique o TIPO a Coluna “condition” para STRING

## Delete as colunas: “sqft_living15” e “sqft_lot15”

## Modifique o TIPO a Coluna “yr_build” para DATE

In [ ]:
# 7. Modifique o TIPO a Coluna “yr_renovated” para DATE
# 8. Qual a data mais antiga de construção de um imóvel?
# 9. Qual a data mais antiga de renovação de um imóvel?
# 10. Quantos imóveis tem 2 andares?
# 11. Quantos imóveis estão com a condição igual a “regular” ?
# 12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?
# 13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?
# # 14. Qual o valor do imóvel mais caro do tipo “studio” ?
# 15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?
# 16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?
# 17. Quantos imóveis “new_house” foram reformados no ano de 2014?
# 1
# 18. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
# • Direto pelo nome das colunas.
# • Pelos Índices.
# • Pelos Índices das linhas e o nome das colunas
# • Índices Booleanos
# 19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.
# 20. Modifique a cor dos pontos no mapa de “pink” para “verde-escuro” -->